
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
</head>
<body >
    <div class="login-page"> 
        <div class="login-window">
            <div class="login-form">
                <div class="row">
                    <div class="col-sm-12">
                        User login:
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        User login input field:
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        User password:
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        User password input field:
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary">Log in</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Forgot your password?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Create an account!</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
