body, html{
    height: 100%;
    width: 100%;
}

.login-page {
    background-image: url('Images/loginBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.login-window {
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; 
    margin-left: -15em; 
    border: 1px solid #ccc;
    position: fixed;
    background-color:#fff;
}

.login-form{
    padding: 10px;
}

.login-form-links {
    font-size: 10px;
}

.login-form-sign-up{
    text-align: center;
}

.full-content
{
    width: 100%;
    height: 100%;
}
.navigation-content {
    float: left;
    /*width: 15%;*/
    height: 100%;
    background-color: #00A958;
    text-align: center;
    padding: 0;
}

li a{
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ul > li:hover{
    background-color: #040948;
}

ul > li{
    border-top: 1px dashed #040948;
}

ul > li:first-child{
    border-top: none;
}

ul > li:last-child {
    border-bottom: 1px dashed #040948;
}

.panel-content {
    background-color: #FFFFFF;
    height: 100%;
    padding: 0;
}

.header-title-content {
    background-color: #007358;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
}

.header-logo-content{
    text-align: center;
}